/* colors */
.off-white { color: #faf0e6; }
.beige     { color: #ecdcbb; }
.red       { color: #d32a31; }
.yellow    { color: #f8cc42; }
.green     { color: #568441; }
.blue      { color: #3056d6; }


h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
}

*, p, li, a {
    font-family: "Open Sans", sans-serif;
    color: #221b10;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a {
    color: #3056d6;
}
a:hover, a:focus {
    color: #2046c6;
}


body, html {
    height: 100%;
}

.footer .trail {
    display: none;
}
.footer .quote {
    display: none;
    margin-top: 20px;
}

/* code */
code, :not(pre) > code, pre code {
    font-family: "Inconsolata", monospace;
    color: #221b10;
    font-size: 1em;
}

pre {
    color: #221b10;
    font-size: 1em;
    border-radius: 0px;
}

blockquote {
  font-size: 1em;
  font-style: normal;
  background: #fafafa;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.trail-step {
    padding: 0px;
    margin: 0px;
    display: none;
}
.trail-step1 { font-size: 6px; margin-top: 20px; }
.trail-step2 { font-size: 8px; }
.trail-step3 { font-size: 10px; }
.trail-step4 { font-size: 12px; margin-bottom: 20px; }

/* DESKTOP ONLY STYLES */
.dd-desktop .uk-logo {
    padding-left: 0px;
}

/* MOBILE ONLY STYLES */

.dd-mobile {
    display: none;
}
.dd-mobile a.uk-navbar-toggle {
    justify-content: left;
    min-height: 0px;
    padding: 20px 15px 20px 0px;
}

.dd-mobile-navbar {
    display: block;
    display: none;
}
.dd-mobile-navbar li {
    display: none;
}

@media (max-width: 640px) {
    .dd-mobile {
        display: block;
        width: 100%;
    }

    .dd-desktop {
        display: none;
    }
}

@media only screen and (max-device-width: 640px) {
    .dd-mobile {
        display: block;
        width: 100%;
    }

    .dd-desktop {
        display: none;
    }
}
