{% extends "index.html" %}

{% block title %}{{config.title}} | {{ section.title }}{% endblock title %}

{% block content %}
  <div class="uk-width-1-1 uk-first-column">
    <img src="/images/{{ section.extra["background_image"] }}"/>
  </div>
  <div class="uk-width-1-1 uk-first-column uk-grid-margin uk-text-center">
    <h2 class="uk-text-center">{{ section.extra["subtitle"] }}</h2>

  {% set articles_2019 = get_section(path="articles/2019/_index.md") %}

  <ul class="articles">
      <h4>2019</h4>
      {% for p in articles_2019.pages %}
        <li class="article">
          <div class="article-link">
              <a href="{{ p.permalink }}">{{p.title}}</a>
          </div>
        </li>
      {% endfor %}
  </ul>
  <nav class="pagination">
      {% if paginator.previous %}
          <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      {% if paginator.next %}
          <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
  </nav>

  <div>
{% endblock content %}