{% extends "index.html" %}

{% block title %}{{config.title}} | {{ page.title }}{% endblock title %}

{% block content %}
  <div class="uk-width-1-1 uk-first-column">
    <img src="/images/{{ page.extra["background_image"] }}"/>
  </div>
  <div class="uk-width-1-1 uk-first-column uk-grid-margin">
    <h2>{{ page.extra["subtitle"] }}</h2>
    <hr />
  {% set research_projects = load_data(path="content/research_data.json", format="json") %}
  
  {% for project in research_projects %}
    <div class="uk-section">
      {% if project["published"] == false %}{% continue %}{% endif %}
      <div class="uk-width-1-1">
        <h3>{{ project["title"] }}</h3>
      </div>
      <div class="uk-width-1-1">
        <p class="uk-text-meta">released: {{ project["date"] }}</p>
        {{ project["description"] }}<br/>
      </div>

      <div class="uk-width-1-1 uk-margin-top">
        <ul class="uk-list uk-list-bullet">
          {% for project_file in project["files"] %}
            <li>
              <a class="uk-button-link" href="{{ project_file["url"] | safe }}" target="_blank">{{ project_file["title"]}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}